body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
padding: 10px;
width: 100%;
box-sizing: border-box;
border: 1px solid #5f9341;
margin-top: 10px;
border-radius: 3px;
transition-duration: background-color;
transition-duration: 0.5s;
transition-timing-function: ease-out;
transition-delay: 0.2s;
}

button {
    background-color: #5f9341;
    padding: 10px 20px;
    color: white;
    margin-top: 10px;
    border: none;
    font-weight: bold;
    border: 1px solid #5f9341;
    border-radius: 3px;
    transition-duration: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0.2s;
    
}

#delete-btn {
    background: white;
    color: #5f9341;
}

button:hover {
    background-color: #395827;
    box-shadow: 0 1px 2px 1px rgb(22, 31, 23);
}

#delete-btn:hover {
    background-color: #f1cac5;
    color: rgb(199, 9, 9);
}

input:hover {
    box-shadow: 0 1px 2px 1px rgb(22, 31, 23);
    background-color: whitesmokef;
}

ul {
    list-style: none;
    padding-left: 0;
    color: #5f9341;
    margin-top: 20px;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
    transition: all 0.5 ease-out;
}

a:hover {
    background-color: #f2f8ee;
    color: #395827;
}